rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /paymentSignals/{docId} {
      allow read: if request.auth.token.aud == 'timelabs-payments-app';
      allow write: if request.auth.token.aud == 'timelabs-payments-app';
    }
  }
}
